{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Online Shopping</title>

</head>

<body>
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}


  {%block content%}

  {%endblock content%}
  <div style="position: absolute; top: 770px; left: 900px; border-radius: 50px;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3427.9877490326644!2d76.79103771425702!3d30.77492328162244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ff29ae23689c3%3A0x329e34d29680ebb0!2sDhillon%20Farm!5e0!3m2!1sen!2sin!4v1655633840287!5m2!1sen!2sin" width="300" height="130" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>
  {% include "ecom/footer.html" %}
</body>
</html>
